.input-with-dropdown {
  .dropdown-toggle::after {
    display: none;
  }
}

.table-user-list {
  .edit-delete {
    white-space: 10px;
    .delete-icon {
      color: red;
    }
  }
}

.table-user-list {
  .row-data:hover {
    background-color: rgb(247, 156, 156);
    .popup-button:hover {
      cursor: pointer;
    }
  }
}

.sort-table-header {
  cursor: pointer;

  svg {
    margin-left: 5px;
  }

  &.active {
    color: #cf2338;
  }
}

// Checkbox
.form-check {
  .form-check-label {
    margin-left: 10px;
    cursor: pointer;
  }
}

input[type='checkbox'] {
  position: relative;
  cursor: pointer;
}
input[type='checkbox']:before {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}
input[type='checkbox']:checked:before {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #cf2338;
}
input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

// ========== Paginate ==================

#react-paginate ul {
  display: inline-block;
  margin-left: 20px;
  padding-left: 0;
}

#react-paginate li {
  display: inline-block;
  border: 1px solid rgb(224, 224, 224);
  color: #000;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 2px;
  margin-bottom: 5px;
  width: 35px;
  height: 35px;
  text-align: center;
}

#react-paginate li a {
  padding: 2px 5px;
  display: inline-block;
  color: black;
  outline: none;
}

#react-paginate li.active {
  background-color: #d10024;
}
