/* make the customizations */
$theme-colors: (
  'primary': #cf2338,
);
$primary-color: #cf2338;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
}

span.hyper-link {
  text-decoration: underline;
  cursor: pointer;
  color: blue;

  &:hover {
    color: brown;
  }
}

span.error-message {
  display: block;
  color: #cf2338;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-header {
  color: #cf2338;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.form-check > *,
.form-check {
  cursor: pointer;
  font-size: 1.1rem;
}

.input-with-dropdown {
  .dropdown-toggle::after {
    display: none;
  }
}

.form-label {
  .required-icon {
    color: #cf2338;
  }
}

input[type='radio']:after {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #000;
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #cf2338;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #000;
}

.pagination-container {
  .pagination {
    justify-content: flex-end;
  }
}

// Table
.sort-table-header {
  cursor: pointer;

  svg {
    margin-left: 5px;
  }

  &.active {
    color: #cf2338;
  }
}

// Checkbox
.form-check {
  .form-check-label {
    margin-left: 10px;
    cursor: pointer;
  }
}

input[type='checkbox'] {
  position: relative;
  cursor: pointer;
}

input[type='checkbox']:before {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}

input[type='checkbox']:checked:before {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #cf2338;
}

input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

// Card
.card {
  .card-header {
    color: #cf2338;
    background-color: #eff1f5;
    font-weight: bold;
  }

  .card-body {
    background-color: #fafcfc;
  }
}

.form-label {
  .required-icon {
    color: #cf2338;
  }
}

// Form
.form-control {
  &.error {
    border: 1px solid #cf2338;
  }
}

.react-date-picker__wrapper {
  border: none !important;
}

.sort-table-header-0 {
  width: 5%;
}
.sort-table-header-1 {
  width: 10%;
}
.sort-table-header-2 {
  width: 10%;
}
.sort-table-header-3 {
  width: 10%;
}
.sort-table-header-4 {
  width: 10%;
}
.sort-table-header-5 {
  width: 10%;
}
.sort-table-header-6 {
  width: 15%;
}

.request-for-returning-table{
  .sort-table-header-0 {
    width: 3%;
  }
  .sort-table-header-1 {
    width: 10%;
  }
  .sort-table-header-2 {
    width: 10%;
  }
  .sort-table-header-3 {
    width: 10%;
  }
  .sort-table-header-4 {
    width: 8%;
  }
  .sort-table-header-5 {
    width: 8%;
  }
  .sort-table-header-6 {
    width: 8%;
  }
  .sort-table-header-7 {
    width: 15%;
  }
}

.assignment-table {
  .edit-delete {
    width: 100%;
  }
}

.input-group {
  position: relative;

  .input-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 91%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 1;
  }
}

.truncate {
  word-wrap: break-word;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.own-assignment-table {
  .sort-table-header-0 {
    width: 12%;
  }
  .sort-table-header-1 {
    width: 20%;
  }
  .sort-table-header-2 {
    width: 12%;
  }
  .sort-table-header-3 {
    width: 12%;
  }
  .sort-table-header-4 {
    width: 12%;
  }
  .sort-table-header-5 {
    width: 12%;
  }
  .sort-table-header-6 {
    width: 12%;
  }
}
@import '~bootstrap/scss/bootstrap';
